body {
    background: linear-gradient(90deg, rgb(64, 72, 110), rgb(34, 102, 117));
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.navbar-nav .active {
  background-color: #1e1b2c;
  border-radius: 10px;
  font-size: large;
  width: 110px;

}

.navbar{
  border-radius: 0;
  background: linear-gradient(90deg, rgb(51, 87, 92), rgb(34, 34, 56));
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  top: 10px;
}

.navbar-brand
{
  margin-right: 30px;
}

.navbar-nav .nav-item {
  margin-right: 30px;
}


.contain{
  background: linear-gradient(90deg, rgb(230, 244, 236), rgb(246, 255, 248));
  width: 1810px;
  min-height: 940px;
  margin:  0 auto;
  position: relative;
  top: 10px;
  border-radius: 20px;
  overflow: auto;
}

.content{
  display: flex;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 3%;
}

.btn {
  float: left;
}

.modal-content{

  position: relative;
  top: 200px;
}

.input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 5.19%);
  box-shadow: 0px 12px 5px -1px rgba(0, 0, 0,0.1);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 60px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 400px;
  transition: 0.5s;
}

.input[type = "text"]:hover {
  width: 500px;
}

.input[type = "text"]:focus {
  width: 600px;
}