{% extends "index.html" %}
{% block title %}Courses{% endblock %}

{% block content %}
<br>
<button type="button" data-bs-toggle="modal" data-bs-target="#addcoursemodal" class="btn btn-primary" style="margin-left: 20px; margin-top: 10px; height: 50px; font-size: 20px; font-family: Arial, Helvetica, sans-serif; margin-right: -200px;">ADD COURSE</button>
<div class="modal fade" id="addcoursemodal" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: auto; position: relative; left: 50%; transform: translateX(-50%); border-radius: 25px; background: linear-gradient(90deg, rgb(51, 87, 92), rgb(34, 34, 56));">
      <div class="modal-header" style="border-radius: 25px;">

<div class="form-group" style="margin-left: 10px;">
    <form method="POST">
      <div class="form-row">
          <div class="form-group col-md-5">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_CD" name="inputCOURSE_CD" placeholder="Course Code" required>
          </div>
          <div class="form-group col-md-8">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_NM" name="inputCOURSE_NM" placeholder="Course Name" required>
          </div>
          <div class="form-group col-md-6">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputCOURSE_CLG" name="inputCOURSE_CLG">
            <option selected disabled>Select College</option>
            {% for college in colleges %}
            <option value="{{college.code}}">{{college.code}}</option>
            {% endfor %}

        </select>
        </div>
      </div>
      <button type="submit" onclick="return confirm('Confirm adding course to data?')" class="btn btn-primary" style="margin-top: 50px; position: relative; left: 50%; transform: translateX(-50%);"">Add Course</button>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  

  <br>
  <br>
  <form method="POST" action="/course/search" id="searchcourse" onsubmit="return false;">
    <input type="text" id="course_search" name="course_search" placeholder="Search" class="input">
    </form>
  <br>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <ul class="flashes" style="font-size: 20px;">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
{% endwith %}

  <table class="table table-striped table-bordered" style="text-align: left;">
    <thead class="thead-dark">
      <tr class="table-info">
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
        <th scope="col">College</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="course_table">
      {% for course in courses %}
      <tr style="font-size: 17px;">
        <td>{{course.code}}</td>
        <td>{{course.name}}</td>
        <td>{{course.college_code}}</td>
        <td>
          <button id="edit_course" name="edit_course" type="button" style="margin-right: 20px;" class="btn btn-warning edit-course" data-course-code="{{ course.code }}"
          data-course-name="{{ course.name }}"
          data-college-code="{{ course.college_code }}"
          data-bs-toggle="modal" data-bs-target="#editCourseModal" >Edit</button>
          <button type="button" data-course-code="{{ course.code }}"
          class="btn btn-danger delete-course" >Delete</button>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <div class="modal fade" id="editCourseModal" tabindex="-1" aria-labelledby="editform" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form id="editCourseForm" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Course</h5>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="editCourseCode">Course Code</label>
              <input
                type="text"
                class="form-control"
                id="editCourseCode"
                name="courseCode"
                placeholder="Course Code"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="editCourseName">Course Name</label>
              <input
                type="text"
                class="form-control"
                id="editCourseName"
                name="courseName"
                placeholder="Course Name"
              />
            </div>
            <div class="form-group">
              <label for="editCollegeCode">College</label>
              <select class="form-select" id="editCollegeCode" name="collegeCode">
                {% for college in colleges %}
                <option value="{{ college.code }}">
                  {{ college.name }} ({{ college.code }})
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="editCourseButton">
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

{% endblock %}