{% extends "index.html" %}
{% block title %}Courses{% endblock %}

{% block content %}
<br>
<div class="form-group" style="margin-left: 10px;">
    <form method="POST">
      <div class="form-row">
          <div class="form-group col-md-2">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_CD" name="inputCOURSE_CD" placeholder="Course Code">
          </div>
          <div class="form-group col-md-4">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_NM" name="inputCOURSE_NM" placeholder="Course Name">
          </div>
          <div class="form-group col-md-2">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputCOURSE_CLG" name="inputCOURSE_CLG">
            <option selected disabled>Select College</option>
            {% for college in colleges %}
            <option value="{{college.code}}">{{college.code}}</option>
            {% endfor %}

        </select>
        </div>
      </div>
      <button type="submit" onclick="return confirm('Confirm adding course to data?')" class="btn btn-primary">Add Course</button>
  </form>
  </div>
<br>
<br>
  <table class="table table-striped table-bordered" style="text-align: left;">
    <thead class="thead-dark">
      <tr class="table-info">
        <th scope="col">Course Code</th>
        <th scope="col">Course Name</th>
        <th scope="col">College</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr style="font-size: 17px;">
        <td>{{course.code}}</td>
        <td>{{course.name}}</td>
        <td>{{course.college_code}}</td>
        <td>
          <button type="button" style="margin-right: 20px;" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#courseform">
            Edit
          </button>
          <button type="button" class="btn btn-danger" onclick="return confirm('Delete course data?')" >Delete</button>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <div class="modal fade" id="courseform" tabindex="-1" aria-labelledby="editform" aria-hidden="true">
    <div style="background: transparent;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>NEEDS FORM TO ACCEPT DATA FROM CORRESPONDING COURSE DATA</h2>
        </div>
      </div>
    </div>
  </div>

{% endblock %}