{% extends "index.html" %}
{% block title %}Editing{% endblock %}

{% block content %}<br>

<h1 style="text-align: left; margin-left: 20px;">Editing Information</h1>
<br>
<br>
<div class="form-group" style="margin-left: 10px;">
  <form method="POST">
    <div class="form-row">
        <div class="form-group col-md-2">
            <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputID" name="inputID" placeholder="ID">
        </div>
        <div class="form-group col-md-4">
            <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-4">
            <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputLastName"name="inputLastName" placeholder="Last Name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputCourse" name="inputCourse">
            <option selected disabled>Select Course Code</option>
            {% for course in courses %}
            <option value="{{course.course_code}}">{{course.course_code}}({{course.course_name}})</option>
            {% endfor %}

        </select>
        </div>
        <div class="form-group col-md-2">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputYear" name="inputYear">
            <option selected disabled>Select Year Level</option>
            <option value="male">1st Year</option>
            <option value="female">2nd Year</option>
            <option value="other">3rd Year</option>
            <option value="other">4th Year</option>
            <option value="other">Other</option>
        </select>
        </div>
        <div class="form-group col-md-4">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputGender" name="inputGender">
              <option selected disabled>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
          </select>
        </div>
    </div>
    <button type="submit" class="btn btn-warning">Edit Student</button>
</form>
</div>
{% endblock %}