{% extends "index.html" %}
{% block title %}Editing{% endblock %}

{% block content %}<br>

<h1 style="text-align: left; margin-left: 20px;">Editing Information</h1>
<br>
<br>
<div class="form-group" style="margin-left: 10px;">
    <form method="POST">
      <div class="form-row">
          <div class="form-group col-md-2">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOLLEGE_CD" name="inputCOLLEGE_CD" placeholder="College Code">
          </div>
          <div class="form-group col-md-4">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOLLEGE_NM" name="inputCOLLEGE_NM" placeholder="College Name">
          </div>

      </div>
      <button type="submit" class="btn btn-warning">Edit Course</button>
  </form>
  </div>
  
<br>
<br>
{% endblock %}