{% extends "index.html" %}
{% block title %}Editing{% endblock %}

{% block content %}<br>

<h1 style="text-align: left; margin-left: 20px;">Editing Information</h1>
<br>
<br>
<div class="form-group" style="margin-left: 10px;">
    <form method="POST">
      <div class="form-row">
          <div class="form-group col-md-2">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_CD" name="inputCOURSE_CD" placeholder="Course Code">
          </div>
          <div class="form-group col-md-4">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_NM" name="inputCOURSE_NM" placeholder="Course Name">
          </div>
          <div class="form-group col-md-4">
              <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputCOURSE_CLG" name="inputCOURSE_CLG" placeholder="College">
          </div>
      </div>
      <button type="submit" class="btn btn-warning">Edit Course</button>
  </form>
  </div>

{% endblock %}