{% extends "index.html" %}
{% block title %}Students{% endblock %}

{% block content %}
<br>

<button type="button" data-bs-toggle="modal" data-bs-target="#addstudentmodal" class="btn btn-primary" style="margin-left: 20px; margin-top: 10px; height: 50px; font-size: 20px; font-family: Arial, Helvetica, sans-serif; margin-right: -200px;">ADD STUDENT</button>
<div class="modal fade" id="addstudentmodal" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: auto; position: relative; left: 50%; transform: translateX(-50%); border-radius: 25px; background: linear-gradient(90deg, rgb(51, 87, 92), rgb(34, 34, 56));">
      <div class="modal-header" style="border-radius: 25px;">

<div class="form-group" style="margin-left: 10px;">
  <form method="POST" id="addstudentform" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputID" name="inputID" placeholder="ID" required>
        </div>
        <div class="form-group col-md-8">
            <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="First Name" required>
        </div>
        <div class="form-group col-md-8">
            <input type="text" style="border: solid black 2px; border-radius: 10px;" class="form-control" id="inputLastName"name="inputLastName" placeholder="Last Name" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputCourse" name="inputCourse">
            <option selected disabled>Select Course Code</option>
            {% for course in courses %}
            <option value="{{course.code}}">{{course.code}}</option>
            {% endfor %}

        </select>
        </div>
        <div class="form-group col-md-6">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputYear" name="inputYear">
            <option selected disabled>Select Year Level</option>
            <option value="1st Year">1st Year</option>
            <option value="2nd Year">2nd Year</option>
            <option value="3rd Year">3rd Year</option>
            <option value="4th Year">4th Year</option>
            <option value="Other">Other</option>
        </select>
        </div>
        <div class="form-group col-md-6">
          <select class="custom-select" style="border: solid black 2px; border-radius: 10px;" id="inputGender" name="inputGender">
              <option selected disabled>Select Gender</option>
              <option value="Male ">Male </option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
          </select>
        </div>
    </div>
    <div class="form-group col-md-8">
      <input type="file" class="form-control-file" id="inputImage" name="inputImage" accept="image/*">
  </div>
    <button type="submit" class="btn btn-primary" onclick="return confirm('Confirm adding student to data?')" style="margin-top: 50px; position: relative; left: 50%; transform: translateX(-50%);">Add Student</button>
</form>
</div>

</div>
</div>
</div>
</div>



<br>
<br>
<form method="POST" action="/students/search" id="searchstudent" onsubmit="return false;">
<input type="text" id="student_search" name="student_search" placeholder="Search" class="input">
</form>
<br>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div role="alert">
                {% for message in messages %}
                    <!-- Use Bootstrap alert classes for styling -->
                    <div class="alert {% if 'Student data added!' in message %}alert-success{% else %}alert-danger{% endif %}" style="font-size: 20px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="window.location.href='/students';">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


<table class="table table-striped table-bordered" style="text-align: left;">
    <thead class="thead-dark">
      <tr class="table-info">
        <th scope="col">ID</th>
        <th scope="col">Image</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Course Code</th>
        <th scope="col">College(Code)</th>
        <th scope="col">Gender</th>
        <th scope="col">Year Level</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="student_table">
      {% for student in students %}
      <tr style="font-size: 17px;">
        <td>{{student.id}}</td>
        <td>{{student.firstname}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.course_code}}</td>
        <td>{{student.collegename}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.year}}</td>
        <td>
          <button id="edit_button" name="edit_button" type="button" data-student-id="{{ student.id }}"
          data-first-name="{{ student.firstname }}"
          data-last-name="{{ student.lastname }}"
          data-course-code="{{ student.course_code }}"
          data-gender="{{ student.gender }}"
          data-year="{{ student.year }}"
          data-bs-toggle="modal"
          data-bs-target="#editStudentModal" style="margin-right: 20px;" class="btn btn-warning edit-student">
            Edit
          </button>
          <button type="button" data-student-id="{{student.id}}"
          class="btn btn-danger delete-student" style="margin-right: 20px;">Delete</button>
          <button type="button" class="btn btn-info view-profile" data-view-url="{{ url_for('studentroute.view_profile', student_id=student.id) }}">View</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


    <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="editStudentForm" method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Student Data</h5>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="editStudentID">ID</label>
                <input type="text" class="form-control" id="editStudentID" name="studentID" placeholder="Student ID" readonly>
              </div>
              <div class="form-group">
                <label for="editFirstName">First Name</label>
                <input type="text" class="form-control" id="editFirstName" name="firstName" placeholder="First Name" >
              </div>
              <div class="form-group">
                <label for="editLastName">Last Name</label>
                <input type="text" class="form-control" id="editLastName" name="lastName" placeholder="Last Name">
              </div>
              <div class="form-group">
                <label for="editCourseCode">Course</label>
                <select class="form-select" id="editCourseCode" name="courseCode">
                  {% for course in courses %}
                  <option value="{{ course.code }}">{{ course.code }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="editYear">Select year level</label>
                <select class="form-select" id="editYear" name="year" required>
                  <option value="" disabled>Select year level</option>
                  <option value="1st Year">1st Year</option>
                  <option value="2nd Year">2nd Year</option>
                  <option value="3rd Year">3rd Year</option>
                  <option value="4th Year">4th Year</option>
                  <option value="Other">other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editGender">Gender</label>
                <select class="form-select" id="editGender" name="gender" required>
                  <option value="" disabled>Select gender</option>
                  <option value="Male ">Male </option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="editStudentButton">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- <div class="modal fade" id="deletestudentmodal" tabindex="-1" role="dialog" aria-labelledby="editStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form id="deletestudentform" method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete Student Data?</h4>
            </div>
            <div class="modal-body">
              <h5>Are you sure you want to delete"</h5>
              <div class="form-group">
                <label for="deletestudentid">ID</label>
                <input type="text" class="form-control" id="deletestudentid" name="deletestudentid" placeholder="Student ID" readonly>
              </div>
              <div class="form-group">
                <label for="deletestudentfname">Firstname</label>
                <input type="text" class="form-control" id="deletestudentfname" name="deletestudentfname" placeholder="Student firstname" readonly>
              </div>
              <div class="form-group">
                <label for="deletestudentlname">Lastname</label>
                <input type="text" class="form-control" id="deletestudentlname" name="deletestudentlname" placeholder="Student lastname" readonly>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="deletebuttonstudent">Delete</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div> -->
  
{% endblock %}
